<%= form_with(model: admin_branch, local: true) do |form| %>
  <% if admin_branch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_branch.errors.count, "error") %> prohibited this admin_branch from being saved:</h2>

      <ul>
      <% admin_branch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :contact %>
    <%= form.number_field :contact %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
